.title {
  display: flex;
  margin-left: 60px;
  color: #848484;
}

.h5 {
  margin-left: 20px;
  margin-top: 31px;
}

.outerColor1 {
  color: #9F9F9F;
}

.outerColor2 {
  color: #1E91CF;
}





.titleUserInfoContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.titleUserInfo {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.userInfoText {
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

.userInfoText2 {
  color: #5F5F5F;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
}




.approveWraper {
  margin-top: 40px;
}

.titleApprove {
  text-align: center;
  padding: 5px;
  color: #3b3b3b;
}



.approveInfoContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  padding: 10px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  width: 580px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}




.approveBlokButton {
  align-content: center;
  padding: 5px;
  margin-right: 10px;
}

.buttonContainer {
  padding: 10px 5px 10px 5px;
}

.button {
  width: 119px;
  height: 30px;
  border-radius: 20px;
  border-style: none;
  background-color: #007CBC;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
}

.button:hover {
  background-color: #004f77; 
}

.button:active {
  transform: translateY(1px); 
}


.button2 {
  width: 119px;
  height: 30px;
  border-radius: 20px;
  border-style: none;
  background-color: #EB5202;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
}

.button2:hover {
  background-color: #aa3d02; 
}

.button2:active {
  transform: translateY(1px); 
}



.approveBlokInfo {
  padding: 5px;
}


.aproveInfoTitleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 28px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  color: #272727;
}
.aproveInfoTitleBlock p{
padding: 2px 5px 2px 5px;
}



.aproveUserInfoBlock{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  color: #272727;
}
.pInput{
  margin-left: -50px;
}
.pOutput{
  margin-right: 30px;
}


.titleAllTransaktion{
  color:#272727;
  display: flex;
  justify-content: center;
}

.allTransaktionContainerWraper{
  margin-top: 30px;
}



.allTransaktionContainer{
  margin-top: 30px;
  display: flex;
  justify-content:space-around;
}



.allInput{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleAllInputInfo{
  width: 100% auto;
  height: 40px;
  padding: 3px 15px 3px 15px;
  border: 2px solid gray;
  color: #1CC88A;
  text-align: center;
  align-content: center;
  border-radius:5px ;
}
.titleAllInputInfo2{
  width: 100% auto;
  height: 40px;
  padding: 3px 15px 3px 15px;
  border: 2px solid gray;
  color: #007CBC;
  text-align: center;
  align-content: center;
  border-radius:5px ;
}
.titleAllInputInfo3{
  width: 100% auto;
  height: 40px;
  padding: 3px 15px 3px 15px;
  border: 2px solid gray;
  color: #E74A3B;
  text-align: center;
  align-content: center;
  border-radius:5px ;
}
.blockInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 110px;
  background-color: #fff;
  border-radius:10px ;
  border-left: 4px solid #1CC88A;
  padding: 10px;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.blockInfo2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 110px;
  background-color: #fff;
  border-radius:10px ;
  border-left: 4px solid #007CBC;
  padding: 10px;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.blockInfo3{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 110px;
  background-color: #fff;
  border-radius:10px ;
  border-left: 4px solid #E74A3B;
  padding: 10px;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.titleInfoDiv{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  box-shadow: 3px 8px 11px -7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.titleInfoDivP{
  display: flex;
  align-items: center;
}



.infoDiv{

  margin-top: 10px;
  margin-right: 15px;
 display: flex;
justify-content: space-around;
width: 100%;
}


.meaningData{
 padding-right: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.meaningSuma{
  font-size: 20px;
  font-weight: 600;
  color:#6C6D7E ;
}















.allOutput{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allRejected{
  display: flex;
  flex-direction: column;
  align-items: center;
}