.header {
  margin-bottom: 20px;
}


.table {
  background-color: #f7f7f7;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 8px;
}

.thUser, .tdUser {
  width: 20%;
}

.thAddress, .tdAddress {
  width: 30%;
}

.thDate, .tdDate {
  width: 15%;
}

.thAmount, .tdAmount {
  width: 15%;
}

.thDetails, .tdDetails {
  width: 10%;
}

.detailsButton {
  width: 102px;
  height: 30px;
  background-color: #566A8B;
  color: #fff;
  border: none;
  padding: 4px 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}
.detailsButton:hover {
  background-color: #0e1846;
}

.detailsButton:active {
  transform: translateY(1px);
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.title {
  display: flex;
  margin-left: 60px;
  color: #848484;
}

.h5 {
  margin-left: 20px;
  margin-top: 31px;
}

.outerColor1 {
  color: #9F9F9F;
}

.outerColor2 {
  color: #1E91CF;
}