.title {
  display: flex;
  margin-left: 60px;
  color: #848484;
}

.h5 {
  margin-left: 20px;
  margin-top: 31px;
}

.outerColor1 {
  color: #9F9F9F;
}

.outerColor2 {
  color: #1E91CF;
}


.blocksLimits {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.inputLimit {
  background-color: #fff;
  border-left: 4px solid #1CC88A;
  border-radius: 5px;
  width: 300px;
  height: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.titleInput {
  text-align: center;
  padding: 10px 0 20px 0;
  color: #1CC88A;
}

.limitsBoardInfo {
  display: flex;
  justify-content: space-around;
}

.sumaLimit {
  margin-top: -20px;
}

.sumaLimit p {
  font-weight: 700;
  font-size: 20px;
  color: #6C6D7E;
}

.dolarImg {
  margin-top: -10px;
}

.dolarImg img {
  width: 40px;
  height: 40px;
}

.input {
  margin-top: 30px;
  margin-left: 8px;
  align-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.inputField {
  margin-left: 5px;
  width: 250px;
  height: 10px;
  border-radius: 20px;
  border-style: none;
  padding: 10px;
  background-color: #E1E1E1;
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 14px;
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.inputButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.limitButton {
  padding: 5px;
  width: 92px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: inset 0px -3px 5px 0px rgba(0, 0, 0, 0.5),
    inset 0px 3px 5px -10px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  transition: background-color 0.3s ease; 
}

.limitButton:hover {
  background-color: #e0e0e0; 
}

.limitButton:active {
  transform: translateY(1px);
}

.outputLimit {
  background-color: #fff;
  border-left: 4px solid #3B6BE7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 300px;
  height: 120px;
}


.titleOutput {
  text-align: center;
  padding: 10px 0 20px 0;
  color: #3B6BE7;
}

.output {
  margin-top: 30px;
  margin-left: 8px;
  align-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.outputField {
  margin-left: 5px;
  width: 250px;
  height: 10px;
  border-radius: 20px;
  border-style: none;
  padding: 10px;
  background-color: #E1E1E1;
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 14px;
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.outputButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}