.stocksContainerWraper {
    margin: 0 auto;
}

.title {
    display: flex;
    margin-left: 60px;
    color: #848484;
}

.h5 {
    margin-left: 20px;
    margin-top: 31px;
}

.outerColor1 {
    color: #9F9F9F;
}

.outerColor2 {
    color: #1E91CF;
}




.stocksContainer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}


.stocksInputContainer {
    width: auto;
    height: 100%;
}

.currentSharePriceContainer {
    width: 350px;
    height: 160px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.titlePrice {
    text-align: center;
    margin-bottom: -15px;
}

.titlePrice p {
    padding: 10px 0 10px 0;
    color: #878787;
    font-weight: 600;
    font-size: 18px;
}

.stockPrice {
    text-align: center;
}

.stockPrice p {
    color: #878787;
    font-weight: 800;
    font-size: 32px;
}

.upInputContainer {
    display: flex;
    margin-top: 60px;
}

.inputUp {
    text-align: center;
    align-content: center;
    width: 350px;
    height: 45px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.inputUp input {
    width: 330px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    background-color: #E1E1E1;
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.buttonUp {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    border-style: none;
    margin-left: 40px;
    width: 140px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.buttonUp:hover {
    background-color: #e0e0e0;
}

.buttonUp:active {
    transform: translateY(1px);
}

.downInputContainer {
    margin-top: 60px;
    display: flex;
}

.variantPercentContainer {
    margin-top: 40px;
    display: flex;

}

.buttPrcent {
    width: 100px;
    height: 45px;
    border-radius: 15px;
    background-color: #fff;
    border-style: none;
    margin-left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    border-style: none;
    transition: background-color 0.3s ease;
}

.buttPrcent:hover {
    background-color: #e0e0e0;
}

.buttPrcent:active {
    transform: translateY(1px);
}
.buttonSubmit{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.buttSub{
    width: 100px;
    height: 45px;
    border-radius: 15px;
    background-color: #fff;
    border-style: none;
    margin-left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    border-style: none;
    transition: background-color 0.3s ease;
}
.buttSub:hover {
    background-color: #006e09;
    color: #fff;
}

.buttSub:active {
    transform: translateY(1px);
}




.stocksScheduleContainer {
width:600px ;
height: 400px;
background-color: #fff;
border-radius: 5px;
border: 1px solid rgb(185, 185, 185);
}
.titleSchedule{
    display: flex;
    align-items: center;
    background-color: #F5F6FA;
    width:600px ;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.titleSchedule p{
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #4E73DF;
}
.LinearChart{
    margin-top: 30px;
}