.sidebar {
  background-color: #515151;
  width: 260px;
  height: 100vh;
  position: fixed;
  margin: 0 auto;
  padding: 20px;
}
.sidebarList {
  margin-top: 20px;
  list-style-type: none;
}
.sidebarItem {
  padding: 20px;
}
.sidebarLink{
  color: #C4C4C4;
  text-decoration: none;
}
.sidebar ul li a:hover {
  color: #ffffff;
}
.logo {
  z-index: 4;
}
.active{
  color: gold;
}