

.dashboardContent {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.dashboardSection {
  margin-bottom: 20px;
}

.dashboardSection h3 {
  font-size: 18px;
  color: #333;
}

.dashboardSection ul {
  list-style-type: none;
  padding-left: 0;
}

.dashboardSection ul li {
  margin-bottom: 10px;
  color: #666;
}

.dashboardSection ul li:hover {
  color: #333;
  cursor: pointer;
}
.title {
  display: flex;
  margin-left: 60px;
  color: #848484;
}

.h5 {
  margin-left: 20px;
  margin-top: 31px;
}

.outerColor1 {
  color: #9F9F9F;
}

.outerColor2 {
  color: #1E91CF;
}