@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.main {
  display: flex;
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
}
.content{
  padding: 20px;
  background-color:#f2eded;
  margin-left: 300px;
  width: 100%;
}